.sombra{
	box-shadow: 0 0 5px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}
#fondo_paciente{
	background:#99CD4E;
}
.centrar{
	text-align:center;
}
.foo [class*="span"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.foo.row > [class*="span"]:first-child {
	padding:5px;
	margin-top:5px;
}
.foo.row > [class*="span"]:last-child {
    padding:5px;
    margin-top:5px;
}
.foo.row > [class*="span"]:nth-child(2) {
    padding:5px;
    margin-top:5px;
}

hr{
	background-color: black;
	height: 4px;
	border:none;
	margin-bottom:4px;
	margin-top:0em;

}
.mail{
	font-size:20px;
	margin-bottom:10px;
}
#header{
	background:#404040;
	z-index:1000;
}
.signo{
background:#404040;

}
.noneb{
	background:none;
}
.titulo{
	text-align:center;
	font-size:24px;
}
#bio{
	position:relative;
	left:-70px;
	width:1180px;
	height:20px;
}
.info_javier{
	color:black;
	z-index:1000;
}
#info{
	float: left;
	display: block;
	padding: 15px 20px 15px;
	margin-left: 90px;
	width:150px;
	height:auto;
	z-index:1000;
}

.profile{
	margin:30px 375px;
}

.circulo {
	width: 200px; 
	height: 200px;
	border-radius: 160px;
	-webkit-border-radius: 160px;
	-moz-border-radius: 160px;
	background:url('../image/clean-lab-1.jpg') no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.bigheader{
	font-size: 48px;
	text-align:center;
}
@media screen and (max-width: 1200px) {
.profile{
	margin:20px 250px;

}
.bigheader{
	font-size: 38px;
	text-align:center;
}
#bio{
	position:relative;
	top:30px;
	left:-50px;
	width:900px;
	height:20px;
}
}

@media screen and (max-width: 980px) {
.profile{
	margin:-20px 140px;

}
.bigheader{
	font-size: 30px;
	text-align:center;
}
#bio{
	position:relative;
	top:30px;
	left:-60px;
	width:725px;
	height:20px;
}
}
@media screen and (max-width: 740px) {
.profile{
	margin:-20px 120px;
}

.full{
	width:230px;
	height:435px;
}
.bigheader{
	font-size: 24px;
	text-align:center;
}

#bio{
	position:relative;
	top:30px;
	left:-60px;
	width:680px;
	height:20px;
}
}
@media screen and (max-width: 680px) {
.profile{
	margin:-30px 90px;
}

.full{
	width:230px;
	height:435px;
}
.bigheader{
	font-size: 24px;
	text-align:center;
}

#bio{
	position:relative;
	top:30px;
	left:-60px;
	width:590px;
	height:20px;
}
}

@media screen and (max-width: 600px) {
.full{
	width:230px;
	height:435px;
}
.bigheader{
	font-size: 20px;
	text-align:center;
}
#bio{
	position:relative;
	top:40px;
	left:-60px;
	width:540px;
	height:20px;
}
.less{
	width:300px;
	height:181px;
}
.profile{
	margin:-40px 70px;

}
}
@media screen and (max-width: 540px) {
.full{
	width:230px;
	height:435px;
}
.bigheader{
	font-size: 20px;
	text-align:center;
}
#bio{
	position:relative;
	top:40px;
	left:-60px;
	width:460px;
	height:20px;
}
.less{
	width:300px;
	height:181px;
}
.profile{
	margin:-40px 20px;

}
}

@media screen and (max-width: 480px) {
.full{
	width:230px;
	height:435px;
}
.bigheader{
	font-size: 18px;
	text-align:center;
}
#bio{
	position:relative;
	top:40px;
	left:-60px;
	width:420px;
	height:20px;
}
.less{
	width:300px;
	height:181px;
}
.profile{
	margin:-40px -5px;

}
}
@media screen and (max-width: 440px) {
.full{
	width:230px;
	height:435px;
}
.bigheader{
	font-size: 17px;
	text-align:center;
}
#bio{
	position:relative;
	top:40px;
	left:-70px;
	width:380px;
	height:20px;
}
.less{
	width:280px;
	height:169px;
}
.profile{
	margin:-40px -5px;

}
}

@media screen and (max-width: 400px) {
.full{
	width:230px;
	height:435px;
}
.bigheader{
	display:none;
}
#bio{
	display:none;
}
.less{
	width:280px;
	height:169px;
}
.profile{
	display:none;

}
.noneb{
	margin:-55px;
}

}

@media screen and (max-width: 320px) {
.full{
	width:190px;
	height:359px;
}
.bigheader{
	font-size: 12px;
	text-align:center;
}
#bio{
	display:none;
}
.less{
	width:200px;
	height:121px;
}
.profile{
	display:none;

}
.noneb{
	margin:-55px;
}

}
@media screen and (max-width:360px) {
.full{
	width:190px;
	height:359px;
}
.bigheader{
	font-size: 13px;
	text-align:center;
}
#bio{
	display:none;
}
.profile{
	display:none;

}
.noneb{
	margin:-55px;
}
}

@media screen and (max-width: 260px) {
.full{
	width:190px;
	height:359px;
}
.bigheader{
	display:none;
}
#bio{
	display:none;
}
.profile{
	display:none;

}
.noneb{
	margin:-65px;
}
}
